/* body {
  background-color: #e9e9e9;
  margin-top: 2%;
} */

html {
  /* font-family: 'Muli', sans-serif !important; */
  font-family: 'Open Sans', sans-serif !important;
}

#homebody {
  /* background: url("../images/background-ctsa.png") fixed no-repeat center; */
  background: url("../images/orange-background.jpg") fixed no-repeat center;
  background-size: 100% 100%;
}

.row {
  margin-top: 15px;
}

.listjob {
  background-color: white;
  padding-top: 15px;
}

.jobdetail {
  background-color: white;
  padding-top: 15px;
}

.stylish-panel {
  border: 1px solid rgb(200, 200, 200);
  padding: 1%;
  margin: 1%;
  background-color: white
}

.hover-stylish-panel {
  margin-top: -5px;
  /* border: 1px solid #5384cb; */
  box-shadow: #5384cb 1px 2px 2px 1px;
  /* background: rgba(200, 200, 200, 0.1); */
  transition: 0.3s;
  background-color: white
}

.stylish-panel:hover {
  border: 1px solid aqua;
  /* border: 1px solid #5384cb; */
  /* box-shadow: 0 .5rem 1rem rgba(83, 132, 203, .15); */
  box-shadow: 0 1rem 3rem rgba(60, 74, 165, .175);
  transition: 0.3s;
  background-color: white
}

#address {
  padding-top: 30px
}

.menu > a{
  color: white !important;
}

a:hover {
  text-decoration: none !important;
}

.icon-background {
  color: white;
}

.gear-icon:before {
  content: "\2605";
  margin-right: 6px;
}

.group-icon:before {
  content: "\2666";
  margin-right: 6px;
}

.country-icon:before {
  content: "\2756";
  /* &#9734; */
  margin-right: 6px;
}

.working-date::before {
  content: "\2665";
  margin-right: 6px;
}

.img-border {
  margin: 50px;
}

.hideaway {
  display: none;
}

.forminput {
  color: rgba(49, 50, 53, 0.76);
  /* padding-top: 10%; */
}

#pencil-image {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}