<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supporting Information</title>

    <link th:href="@{/staff/assets/css/style.css}"
          rel="stylesheet">
    <style th:replace="staff/web-admin.html :: web-admin-style"></style>

    <link rel="stylesheet"
          th:href="@{/staff/assets/css/tagify.css}">

    <script type="text/javascript"
            th:src="@{/staff/assets/js/vendor.js}"></script>
    <script type="text/javascript"
            th:src="@{/staff/assets/js/bundle.js}"></script>

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
</head>

<body class="app">
<div id="loader">
    <div class="spinner"></div>
</div>

<script>
    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

<div>
    <div th:replace="staff/web-admin.html :: web-admin-sidebar"></div>

    <div class="page-container">

        <div th:replace="staff/web-admin.html :: web-admin-header"></div>

        <main class="main-content bgc-grey-200">
            <div id="mainContent">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                <h4 class="c-grey-900 mB-20">Supporting Information Historical Data</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="dataTables_length">
                                            <label>Major
                                                <select id="dataTable_major" name="dataTable_length"
                                                        class="form-control"
                                                        aria-controls="dataTable"
                                                        onchange="changeMajor()">
                                                    <option value="1">Information Technology</option>
                                                    <option value="4">Medical</option>
                                                    <option value="5">Pedagogy</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dataTables_length">
                                            <label>Unit
                                                <input type="text"
                                                       class="form-control"
                                                       id="spUnit">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="dataTables_length">
                                        <label>Show
                                            <select id="dataTable_length" name="dataTable_length"
                                                    aria-controls="dataTable"
                                                    onchange="changeItemPerPage()">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> entries
                                        </label>
                                    </div>


                                    <div id="dataTable_filter" class="ml-auto dataTables_filter">
                                        <label>
                                            Search:
                                            <input type="search"
                                                   class=""
                                                   placeholder=""
                                                   aria-controls="dataTable">
                                        </label>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered "
                                       cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Year</th>
                                        <th>Actual number</th>
                                        <th>Source name</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tableData">
                                    <tr>
                                        <td>1</td>
                                        <td>2018</td>
                                        <td></td>
                                        <td>Sách Trắng</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="row">
                                    <ul id="pagination"
                                        class="pagination ml-auto">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                <h4 class="c-grey-900 mB-20">Add new data</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"><label>Major</label>
                                            <select class="form-control">
                                                <option selected="selected">Choose...</option>
                                                <option value="1">Information Technology</option>
                                                <option value="4">Medical</option>
                                                <option value="5">Pedagogy</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"><label>Year</label>
                                            <select class="form-control"
                                                    name="yearpicker" id="yearpicker"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"><label>Number</label>
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Enter actual data">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"><label>Source</label>
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Enter source name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"><label>Source Link</label>
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Enter source link">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit"
                                        class="btn btn-orange">Add
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

<script type="text/javascript"
        th:src="@{/staff/assets/js/vendor.js}"></script>
<script type="text/javascript"
        th:src="@{/staff/assets/js/bundle.js}"></script>
<link th:href="@{/staff/assets/css/style.css}"
      rel="stylesheet">
<link rel="stylesheet"
      th:href="@{/staff/ctsa-custom/ctsa.css}">
<link rel="stylesheet"
      th:href="@{/staff/ctsa-custom/tagify-custom.css}">

<script type="text/javascript"
        th:src="@{/js/services-routes.js}"></script>

<script th:src="@{/staff/assets/js/tagify.js}"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
    let keywordIds = []
    let currentMajorId = 1
    let totalPages = 0
    let currentPage = 1
    let itemPerPage = $('#dataTable_length').children("option:selected").val();

    const numberWithCommas = (x) => {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }

    window.addEventListener('load', function () {
        (function () {
            for (let i = new Date().getFullYear(); i > 1900; i--) {
                $('#yearpicker').append($('<option />').val(i).html(i));
            }
            getTotalPages(itemPerPage)
            getData(itemPerPage, currentPage)
        })()
    })

    function changeMajor() {
        currentMajorId = $('#dataTable_major').children("option:selected").val();
        getTotalPages(itemPerPage)
        changePage(1)
        getData(itemPerPage, 1)
    }

    function changeItemPerPage() {
        itemPerPage = $('#dataTable_length').children("option:selected").val();
        getTotalPages(itemPerPage)
        changePage(1)
        getData(itemPerPage, 1)
    }

    function getData(itemPerPage, page) {
        axios.get(API_GATEWAY + CAREER_TREND_SERVICE + '/supporting-information/for-staff?major-id=' + currentMajorId + '' +
            '&item-per-page=' + itemPerPage + '' +
            '&page=' + page)
            .then((response) => {
                let historicalData = response.data

                $('#spUnit').val(historicalData[0].unit)

                let table = $('#tableData')
                table.empty()

                let number = 1
                for (singleData of historicalData) {
                    let row = $('<tr>')

                    $('<td>', {
                        html: number
                    }).appendTo(row)

                    $('<td>', {
                        html: singleData.year
                    }).appendTo(row)

                    $('<td>', {
                        html: numberWithCommas(singleData.actual)
                    }).appendTo(row)

                    $('<td>', {
                        html: singleData.sourceName
                    }).appendTo(row)

                    row.appendTo(table)
                    number++
                }
            })
    }

    function getTotalPages(itemPerPage) {
        axios.get(API_GATEWAY + CAREER_TREND_SERVICE + '/supporting-information/for-staff/page-counts?major-id=' + currentMajorId + '&item-per-page=' + itemPerPage)
            .then((response) => {
                totalPages = parseInt(response.data)

                let pagination = $('#pagination')
                pagination.empty()
                for (let i = 0; i < totalPages; i++) {
                    if (currentPage === (i + 1)) {
                        pagination.append('<li class="page-item active"><a class="page-link" href="#" onclick="changePage(' + (i + 1) + ')">' + (i + 1) + '</a></li>')
                    } else {
                        pagination.append('<li class="page-item"><a class="page-link" href="#" onclick="changePage(' + (i + 1) + ')">' + (i + 1) + '</a></li>')
                    }
                }
            })
    }

    function changePage(page) {
        currentPage = page

        let pagination = $('#pagination')
        pagination.empty()
        for (let i = 0; i < totalPages; i++) {
            if (currentPage === (i + 1)) {
                pagination.append('<li class="page-item active"><a class="page-link" href="#" onclick="changePage(' + (i + 1) + ')">' + (i + 1) + '</a></li>')
            } else {
                pagination.append('<li class="page-item"><a class="page-link" href="#" onclick="changePage(' + (i + 1) + ')">' + (i + 1) + '</a></li>')
            }
        }

        getData(itemPerPage, page)
    }
</script>
</body>
</html>