<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <title>Thống kê</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans"
          rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet"
          th:href="@{css/style.css}">
    <link rel="stylesheet"
          th:href="@{css/tab.css}">
    <!-- Services Routes -->
    <script th:src="@{js/services-routes.js}"></script>
</head>


<body>
<div id="loader">
    <div class="spinner"></div>
</div>
<script>
    $(window).ready(function () {
        $('#loader').hide();
    });
</script>
<!-- Header -->
<div th:replace="fragments/general.html :: header"></div>

<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <ul class="nav col-md-12"
            id="myTab"
            role="tablist">
            <li class="nav-item tab tab-active"
                id="stats-tab">
                <a class="nav-link active"
                   data-toggle="tab"
                   href="#stats"
                   role="tab"
                   aria-controls="home"
                   aria-selected="true">Thống kê</a>
            </li>
            <li class="nav-item tab"
                id="predictions-tab">
                <a class="nav-link"
                   data-toggle="tab"
                   href="#predictions"
                   role="tab"
                   aria-controls="profile"
                   aria-selected="false">Dự đoán</a>
            </li>
            <li class="nav-item tab"
                id="recruitment-tab">
                <a class="nav-link"
                   data-toggle="tab"
                   href="#recruitment"
                   role="tab"
                   aria-controls="contact"
                   aria-selected="false">Tuyển dụng</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <!-- Tabs -->
        <div id="content"
             class="tab-content col-md-12 folder">
            <!-- Home -->
            <div th:replace="fragments/analytics.html :: stats-tab"></div>

            <!-- Stats -->
            <div th:replace="fragments/analytics.html :: predictions-tab"></div>

            <!-- Recruit -->
            <div th:replace="fragments/analytics.html :: recruitment-tab"></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade rounded"
     id="skillRankModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="skillModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xm"
         role="document">
        <div class="modal-content">
            <div class="pt-3 pb-2 bg-orange text-white text-center shadow "
                 style="border-top-left-radius: 20px ;
        border-top-right-radius: 20px !important; ">
                <h4>Chi tiết xếp hạng</h4>
            </div>
            <div class="row modal-body justify-content-between">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col"
                            style="font-size: 1.2em"
                            class="text-center">
                            #
                        </th>
                        <th id="skillTypeName"
                            class="text-center"
                            style="font-size: 1.2em"
                            scope="col">

                        </th>
                    </tr>
                    </thead>
                    <tbody id="skillRank"
                           style="font-size: 1.2em">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-center">
                <ul class="pagination"
                    id="pagination">

                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script th:src="@{js/summary/stats-tab.js}"></script>
<script th:src="@{js/summary/predictions-tab.js}"></script>
<script th:src="@{js/summary/recruit-tab.js}"></script>
<script>
    $("#stats-tab").click(function () {
        $(this).addClass("tab-active")
        $("#predictions-tab").removeClass("tab-active")
        $("#recruitment-tab").removeClass("tab-active")
    })
    $("#predictions-tab").click(function () {
        $(this).addClass("tab-active")
        $("#stats-tab").removeClass("tab-active")
        $("#recruitment-tab").removeClass("tab-active")
        getPositionTrend()
        // getSkillsTrends()
    })
    $("#recruitment-tab").click(function () {
        $(this).addClass("tab-active")
        $("#stats-tab").removeClass("tab-active")
        $("#predictions-tab").removeClass("tab-active")
    })

    window.onload = async function () {
        let position = JSON.parse(sessionStorage.getItem('position'))

        let statsDiv = $('#stats')
        statsDiv.empty()
        $('<h3>', {
            class: 'text-center',
            style: 'margin-top: 1%',
            html: 'Top các nhóm kỹ năng thông dụng nhất cho vị trí<br>' +
                '<h1 style="font-weight: bold; margin-top: 1%">' + position.name + '</h1>'
        }).appendTo(statsDiv)

        let skillTypes = []
        let response
        if (position.mainSkillTypeId !== null) {
            skillTypes.push(position.mainSkillTypeId)
            response = await axios.get("http://localhost:8003/required_skills/position_id=" + position.id + "/top-skill-types?escape-skill-type-id=" + position.mainSkillTypeId)
        } else {
            response = await axios.get("http://localhost:8003/required_skills/position_id=" + position.id + "/top-skill-types")
        }

        let topSkills = []

        for (let skillType of response.data) {
            skillTypes.push(skillType)
        }

        for (let skillType of skillTypes) {
            let skills = await getITSoftwareTrendByPositionAndSkillType(position.id, skillType);

            if (skills) {
                topSkills.push(skills)
            }
        }

        let count = 0
        for (let skillsWithType of topSkills) {
            if (count % 2 === 0) {
                generateStatsUI(position.id, skillsWithType, 'left')
            } else {
                generateStatsUI(position.id, skillsWithType, 'right')
            }
            count++
        }
    }
</script>
</body>

</html>