body {
    background: url("https://wallpaperlayer.com/img/2015/4/awesome-yellow-wallpaper-76-120-hd-wallpapers.jpg") no-repeat;
}

#content {
    border-radius: 20px 20px 20px 20px;
    top: 10px;
    margin-bottom: 50px;
    height: 80%;
    padding: 1% 2%;
}

.container-fluid {
    width: 80vw !important;
    margin-top: 2%
}

.folder {
    background-color: rgb(235, 231, 231);
    background-position-y: 20%;
    z-index: 20;
}
