body {
    /* background-color: #ff7d1f !important; */
    /* background-color: #fff691 !important; */
    background: url("https://wallpaperlayer.com/img/2015/4/awesome-yellow-wallpaper-76-120-hd-wallpapers.jpg") no-repeat;
}

#content {
    border-radius: 20px 20px 20px 20px;
    height: calc(100vh - 200px);
    top: 10px;
    margin-bottom: 50px;
    /* min-height: 800px;  */
    height: 80%;
    padding-left:2%;
    padding-right:2%;
    padding-top:1%;
    padding-bottom:1%;
    
    
}

.container-fluid {
    width: 80vw !important;
    margin-top: 2%
}

.folder {
    /* background: url("../images/world-map.png") no-repeat; */
    /* background-size: 95% 95%; */
    background-color: rgb(235, 231, 231);
    /* background-attachment: fixed; */
    /* background-position: center;  */
    background-position-y: 20%;
    /* box-shadow: black 0 5px 10px 0; */
    z-index: 20;
}
