<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Partner Registration</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Partner Registration</h1>
        </div>
        <form method="post" action="/register">
            <div class="row form-group">
                <label for="partner-name">Company name:</label>
                <input type="text" class="form-control" id="partner-name" placeholder="Company name">
            </div>
            <div class="row form-group">
                <label for="partner-intro">Company introduction:</label>
                <input type="text" class="form-control" id="partner-intro" placeholder="Company intoduction">
            </div>
            <div class="row form-group">
                <label for="partner-email">Email:</label>
                <input type="email" class="form-control" id="partner-email" placeholder="Email">
            </div>
            <div class="row form-group">
                <label for="partner-email">Phone number:</label>
                <input type="number" class="form-control" id="partner-phone" placeholder="Phone number">
            </div>
            <div class="row form-group">
                <label for="partner-email">Logo:</label>
                <input type="file" class="form-control-file" id="partner-logo">
            </div>

            <!-- Additional Information
            <div class="row form-group">
                <label for="partner-info">Additional information:</label>
                <div class="input_fields_wrap">
                    <div class="row form-row">
                        <div class="form-group col-md-6">
                            <input class="form-control" type="text" name="mytext[]">
                        </div>
                        <button class="add_field_button btn btn-sm btn-success">+</button>
                    </div>
                </div>
            </div> -->

            <button type="submit" class="btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</body>

<script type="text/javascript">
    // $(document).ready(function () {
    //     var max_fields = 10;
    //     var wrapper = $(".input_fields_wrap");
    //     var add_button = $(".add_field_button");

    //     var x = 1;
    //     $(add_button).click(function (e) {
    //         e.preventDefault();
    //         if (x == 10) {
    //             console.log('10 cái thôi cha!');
    //             return false;
    //         }
    //         if (x < max_fields) {
    //             x++;
    //             $(wrapper).append('<div class="row form-row"><div class="form-group col-md-6"><input class="form-control" type="text" name="mytext[]"></div><button class="btn btn-sm btn-danger" href="#" class="remove_field">−</button></div>');
    //         }
    //     });

    //     $(wrapper).on("click", ".remove_field", function (e) {
    //         e.preventDefault();
    //         $(this).parent('div').parent('div').remove();
    //         x--;
    //     })
    // });
</script>

</html>