body, button, table, label{
    font-size: 1.1em !important
}
select{
    font-style:bold !important;
    color:rgb(70, 70, 70) !important
}
.page-container{
    background-color:#F2F3F5 
}
.title-header{
    margin-top:10px;
    font-size:1.3em;
    color:rgb(255, 140, 78)
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff!important;
    background: #FF7D1F;
}

input, select{
    border: 1px solid rgba(85, 85, 85, 0.829) !important;
}
.table-bordered th, .table-bordered td{
    border: 1px solid rgba(85, 85, 85, 0.555) !important;
}
#alert{
    color:red;
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover i{
    color: #FF7D1F;
}

.sidebar-menu>li>a:hover {
    color: #FF7D1F !important;
}