.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff!important;
    background: #FF7D1F;
}

input{
    border: 1px solid rgba(85, 85, 85, 0.555) !important;
}
.table-bordered th, .table-bordered td{
    border: 1px solid rgba(85, 85, 85, 0.555) !important;
}
#alert{
    color:red;
}