<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="stats-tab"
     class="tab-pane fade show active"
     id="stats"
     role="tabpanel"
     aria-labelledby="home-tab">

</div>

<div th:fragment="predictions-tab"
     class="tab-pane fade"
     id="predictions"
     role="tabpanel"
     aria-labelledby="profile-tab">

    <div class="row justify-content-center text-center" style="font-size: 1.5em; font-style: italic">
        Dự đoán trong 4 tháng tới<br/>
        Các nhà tuyển dụng có thể sẽ tuyển thêm
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3 text-center predict-major">
            <div class="vertical-middle"
                 id="position-prediction">
                135 Project Manager
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="font-size: 1.5em; font-style: italic">
        Với nhu cầu cao ở các kỹ năng sau
    </div>

    <div id="top-skills">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-3 statistic1 text-center ">
                        <img
                                src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237101/demo-image/nest.svg"
                                alt="javascript"
                                height="110"
                                width="180"
                        />
                    </div>
                    <div class="col-md-6 statistic-description text-center">
                        <div class="vertical-middle">
                            Artificial Intelligence
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row  justify-content-center">
                    <div class="col-md-3 statistic1 text-center">
                        <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237096/demo-image/java.png"
                             alt="javascript"
                             height="110"
                             width="180"/>
                    </div>
                    <div class="col-md-6 statistic-description  text-center">
                        <div class="vertical-middle "><b>NodeJS</b></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-3 statistic1 text-center ">
                        <img
                                src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237101/demo-image/nest.svg"
                                alt="javascript"
                                height="110"
                                width="180"
                        />
                    </div>
                    <div class="col-md-6 statistic-description text-center">
                        <div class="vertical-middle">
                            Artificial Intelligence
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row  justify-content-center">
                    <div class="col-md-3 statistic1 text-center">
                        <img
                                src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237096/demo-image/java.png"
                                alt="javascript"
                                height="110"
                                width="180"
                        />
                    </div>
                    <div class="col-md-6 statistic-description  text-center">
                        <div class="vertical-middle "><b>NodeJS</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Advantages -->
    <div class="col-md-9 top-3 top-left">
        <div class="row justify-content-between">
            <div class="col-md-5 my-auto pl-5">
                <b style="color: white; font-size: 40px;font-style: italic">
                    Có lợi thế nếu sỡ hữu thêm các kỹ năng sau
                </b>
            </div>
            <div id="advantages"
                 class="col-md-6 row justify-content-around top-icons-left">
                <div class="col-md-3 text-center"
                     style="font-size: 1.1em; font-weight: bold">
                    <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1540782968/skills/jquery.png"/>
                    Jquery
                </div>
                <div class="col-md-3 text-center"
                     style="font-size: 1.1em; font-weight: bold">
                    <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1540782962/skills/dotnet.png"/>
                    .NET
                </div>
                <div class="col-md-3 text-center"
                     style="font-size: 1.1em; font-weight: bold">
                    <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1540782975/skills/reactjs.png"/>
                    ReactJS
                </div>
            </div>
        </div>
    </div>
    <div class="left-triangle"></div>
</div>

<div th:fragment="recruitment-tab"
     class="tab-pane fade"
     id="recruitment"
     role="tabpanel"
     aria-labelledby="contact-tab">
    <div class="row justify-content-center ">
        <div class="col-md-3 text-center banner ">
            <span style="font-size: 55px; color:#ff6414">2</span>
            <br><br>
            <b style="color:rgb(241, 236, 236); font-size:3em">Amazon</b><br>
            <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237095/demo-image/companyA.png"
                 alt="Hình công ty"
                 height="120"
                 width="220"
                 class="img-recruitment">
            <div class="info-recruitment">
                <h3> 15 vị trí</h3>
                <h3>Đang tuyển dụng</h3>
            </div>
        </div>

        <div class="col-md-4 text-center banner"
             style="height:700px; width:280px;">
            <span style="font-size: 70px; color:#ff6414">1</span><br><br>
            <b style="color:rgb(241, 236, 236); font-size:5em">Grab</b><br>
            <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237096/demo-image/companyB.svg"
                 alt="Hình công ty"
                 height="140"
                 width="240"
                 class="img-recruitment">
            <div class="info-recruitment">
                <h3> 15 vị trí</h3>
                <h3>Đang tuyển dụng</h3>
            </div>

        </div>

        <div class="col-md-3 text-center banner">
            <span style="font-size: 55px; color:#ff6414">3</span><br><br>
            <b style="color:rgb(241, 236, 236); font-size:3em">RXR</b><br>
            <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237096/demo-image/companyC.png"
                 alt="Hình công ty"
                 height="120"
                 width="220"
                 class="img-recruitment">
            <div class="info-recruitment">
                <h3> 15 vị trí</h3>
                <h3>Đang tuyển dụng</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>