<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="stats-tab"
     class="tab-pane fade show active"
     id="stats"
     role="tabpanel"
     aria-labelledby="home-tab">

</div>

<div th:fragment="predictions-tab"
     class="tab-pane fade"
     id="predictions"
     role="tabpanel"
     aria-labelledby="profile-tab">

    <div class="row justify-content-center text-center" style="font-size: 1.5em; font-style: italic">
        Dự đoán trong 4 tháng tới<br/>
        Các nhà tuyển dụng có thể sẽ tuyển thêm
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3 text-center predict-major">
            <div class="vertical-middle"
                 id="position-prediction">
                135 Project Manager
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="font-size: 1.5em; font-style: italic">
        Với nhu cầu cao ở các kỹ năng sau
    </div>

    <div id="top-skills">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-3 statistic1 text-center ">
                        <img
                                src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237101/demo-image/nest.svg"
                                alt="javascript"
                                height="110"
                                width="180"
                        />
                    </div>
                    <div class="col-md-6 statistic-description text-center">
                        <div class="vertical-middle">
                            Artificial Intelligence
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row  justify-content-center">
                    <div class="col-md-3 statistic1 text-center">
                        <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237096/demo-image/java.png"
                             alt="javascript"
                             height="110"
                             width="180"/>
                    </div>
                    <div class="col-md-6 statistic-description  text-center">
                        <div class="vertical-middle "><b>NodeJS</b></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-3 statistic1 text-center ">
                        <img
                                src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237101/demo-image/nest.svg"
                                alt="javascript"
                                height="110"
                                width="180"
                        />
                    </div>
                    <div class="col-md-6 statistic-description text-center">
                        <div class="vertical-middle">
                            Artificial Intelligence
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row  justify-content-center">
                    <div class="col-md-3 statistic1 text-center">
                        <img
                                src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237096/demo-image/java.png"
                                alt="javascript"
                                height="110"
                                width="180"
                        />
                    </div>
                    <div class="col-md-6 statistic-description  text-center">
                        <div class="vertical-middle "><b>NodeJS</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Advantages -->
    <div class="col-md-9 top-3 top-left">
        <div class="row justify-content-between">
            <div class="col-md-5 my-auto pl-5">
                <b style="color: white; font-size: 40px;font-style: italic">
                    Có lợi thế nếu sỡ hữu thêm các kỹ năng sau
                </b>
            </div>
            <div id="advantages"
                 class="col-md-6 row justify-content-around top-icons-left">
                <div class="col-md-3 text-center"
                     style="font-size: 1.1em; font-weight: bold">
                    <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1540782968/skills/jquery.png"/>
                    Jquery
                </div>
                <div class="col-md-3 text-center"
                     style="font-size: 1.1em; font-weight: bold">
                    <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1540782962/skills/dotnet.png"/>
                    .NET
                </div>
                <div class="col-md-3 text-center"
                     style="font-size: 1.1em; font-weight: bold">
                    <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1540782975/skills/reactjs.png"/>
                    ReactJS
                </div>
            </div>
        </div>
    </div>
    <div class="left-triangle"></div>
</div>

<div th:fragment="recruitment-tab"
     class="tab-pane fade"
     id="recruitment"
     role="tabpanel"
     aria-labelledby="contact-tab">
    <!--<div class="row justify-content-center ">
        <div class="col-md-3 text-center banner ">
            <span style="font-size: 55px; color:#ff6414">2</span>
            <br><br>
            <b style="color:rgb(241, 236, 236); font-size:3em">Amazon</b><br>
            <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237095/demo-image/companyA.png"
                 alt="Hình công ty"
                 height="120"
                 width="220"
                 class="img-recruitment">
            <div class="info-recruitment">
                <h3> 15 vị trí</h3>
                <h3>Đang tuyển dụng</h3>
            </div>
        </div>

        <div class="col-md-4 text-center banner"
             style="height:700px; width:280px;">
            <span style="font-size: 70px; color:#ff6414">1</span><br><br>
            <b style="color:rgb(241, 236, 236); font-size:5em">Grab</b><br>
            <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237096/demo-image/companyB.svg"
                 alt="Hình công ty"
                 height="140"
                 width="240"
                 class="img-recruitment">
            <div class="info-recruitment">
                <h3> 15 vị trí</h3>
                <h3>Đang tuyển dụng</h3>
            </div>

        </div>

        <div class="col-md-3 text-center banner">
            <span style="font-size: 55px; color:#ff6414">3</span><br><br>
            <b style="color:rgb(241, 236, 236); font-size:3em">RXR</b><br>
            <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237096/demo-image/companyC.png"
                 alt="Hình công ty"
                 height="120"
                 width="220"
                 class="img-recruitment">
            <div class="info-recruitment">
                <h3> 15 vị trí</h3>
                <h3>Đang tuyển dụng</h3>
            </div>
        </div>
    </div>-->
    <div id="content" class="tab-content col-md-12 folder">
        <h1 class="text-center pt-3 pb-2">TIN TUYỂN DỤNG</h1>
        <div class="row">
            <div class="col-md-12 list-jobs">

                <!-- Pagination -->
                <!-- <div class="row justify-content-center">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link pagi-button-selected" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div> -->

                <!--<div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/2"><img
                            src="https://cdn.itviec.com/employers/fpt-software/logo/social/3reFYvb7XKV1a8g4aKiDDke8/fpt-software-logo.png"
                            width="200" height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/2"><h2>20
                        junior/senior Developers – signing bonus up to 18M</h2></a>
                        <p class="job-descript">Work with project members, responsible for the code review, development,
                            and investigation of Java Web technologies.
                            Implement task lists, estimate deliver assignments as functional specifications, quality
                            standards and project schedules.
                            Consistently...</p>
                        <div class="pt-5"><a href="#" class="btn btn-outline-dark">Java</a>&nbsp;<a href="#"
                                                                                                    class="btn btn-outline-dark">Javascript</a>&nbsp;
                        </div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>18 ngày trước</span></div>
                        <div class="my-4"><span>Hà Nội, Đà Nẵng, HCM</span></div>
                    </div>
                </div>
                <div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/3"><img
                            src="https://cdn.itviec.com/employers/fpt-software/logo/social/3reFYvb7XKV1a8g4aKiDDke8/fpt-software-logo.png"
                            width="200" height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/3"><h2>10 Sr.
                        Java Developers- signing bonus ~ 20M</h2></a>
                        <p class="job-descript">We are looking for a Java Developer with experience in building
                            high-performing, scalable, enterprise-grade applications.
                            You will be part of a talented software team that works on to build a health care platform
                            for US customer. Java developer roles...</p>
                        <div class="pt-5"><a href="#" class="btn btn-outline-dark">Java</a>&nbsp;<a href="#"
                                                                                                    class="btn btn-outline-dark">Javascript</a>&nbsp;
                        </div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>18 ngày trước</span></div>
                        <div class="my-4"><span>Hà Nội</span></div>
                    </div>
                </div>
                <div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/4"><img
                            src="https://cdn.itviec.com/employers/fpt-software/logo/social/3reFYvb7XKV1a8g4aKiDDke8/fpt-software-logo.png"
                            width="200" height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/4"><h2>03
                        Technical Lead PHP/WordPress</h2></a>
                        <p class="job-descript">Evaluate and identify software solutions.
                            Working with customers to discuss what they need in their custom software, infrastructure
                            and deployment environment in order to design the entire system based on the received
                            requirements.
                            Develop technical specifications...</p>
                        <div class="pt-5"><a href="#" class="btn btn-outline-dark">WordPress</a>&nbsp;<a href="#"
                                                                                                         class="btn btn-outline-dark">PHP</a>&nbsp;
                        </div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>18 ngày trước</span></div>
                        <div class="my-4"><span>Hà Nội</span></div>
                    </div>
                </div>
                <div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/5"><img
                            src="https://cdn.itviec.com/employers/fpt-software/logo/social/3reFYvb7XKV1a8g4aKiDDke8/fpt-software-logo.png"
                            width="200" height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/5"><h2>06 Senior
                        Testers</h2></a>
                        <p class="job-descript">Study, analyze, clarify requirements
                            Create/follow test cases and test plans
                            Review test cases of other testers
                            Execute testing and report to manager and customer
                            Log defects during the test execution phase
                            Setup test environments, test data</p>
                        <div class="pt-5"><a href="#" class="btn btn-outline-dark">Test</a>&nbsp;<a href="#"
                                                                                                    class="btn btn-outline-dark">QA</a>&nbsp;
                        </div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>18 ngày trước</span></div>
                        <div class="my-4"><span>Hồ Chí Minh</span></div>
                    </div>
                </div>
                <div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/6"><img
                            src="https://cdn.itviec.com/employers/fpt-software/logo/social/3reFYvb7XKV1a8g4aKiDDke8/fpt-software-logo.png"
                            width="200" height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/6"><h2>05 PHP
                        Developers</h2></a>
                        <p class="job-descript">More than 2 years working with PHP/Wordpress
                            More than 5 years experience with software development
                            Experience with Linux deployment
                            English read/write at least(plus point for who can meeting with customer by english)</p>
                        <div class="pt-5"><a href="#" class="btn btn-outline-dark">PHP</a>&nbsp;</div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>18 ngày trước</span></div>
                        <div class="my-4"><span>Hồ Chí Minh</span></div>
                    </div>
                </div>
                <div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/11"><img
                            src="https://yt3.ggpht.com/a-/AN66SAxZenTOxYyb3V9dGlAx0jPHvDzUlOiLrDvVCA=s900-mo-c-c0xffffffff-rj-k-no"
                            width="200" height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/11"><h2>Nhân
                        Viên Tư Vấn Tuyển Sinh - Bình Dương</h2></a>
                        <p class="job-descript">- Tư vấn ghi danh, tìm hiểu nhu cầu và lưu trữ thông tin khách hàng.<br>
                            - Tư vấn học tập và chăm sóc học viên tái ghi danh.<br>
                            - Tổ chức thi xếp lớp, coi thi, chấm điểm và thực hiện công tác điều phối học viên dự
                            thi.<br>
                            - Hướng dẫn thủ tục và nhận...</p>
                        <div class="pt-5"><a href="#" class="btn btn-outline-dark">English</a>&nbsp;<a href="#"
                                                                                                       class="btn btn-outline-dark">Communication</a>&nbsp;
                        </div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>3 ngày trước</span></div>
                        <div class="my-4"><span>Hồ Chí Minh</span></div>
                    </div>
                </div>
                <div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/15"><img
                            src="https://yt3.ggpht.com/a-/AN66SAxZenTOxYyb3V9dGlAx0jPHvDzUlOiLrDvVCA=s900-mo-c-c0xffffffff-rj-k-no"
                            width="200" height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/15"><h2>Nhân
                        Viên Chương Trình</h2></a>
                        <p class="job-descript">Thiết kế chương trình (tìm hiểu chương trình đối thủ, phân tích điểm thi
                            quốc tế đầu ra…)<br>
                            Tìm hoặc phát triển giáo trình, và nội dung học (dự giờ và nhận phản hồi từ Giáo Viên…)<br>
                            Soạn các tài liệu hỗ trợ công tác dạy và học (bao gồm đề cương môn...</p>
                        <div class="pt-5"></div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>3 ngày trước</span></div>
                        <div class="my-4"><span>Hồ Chí Minh</span></div>
                    </div>
                </div>
                <div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/16"><img
                            src="https://yt3.ggpht.com/a-/AN66SAxZenTOxYyb3V9dGlAx0jPHvDzUlOiLrDvVCA=s900-mo-c-c0xffffffff-rj-k-no"
                            width="200" height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/16"><h2>Quản lý
                        Đào tạo &amp; Phát triển</h2></a>
                        <p class="job-descript">Chức năng: Quản lý Đào tạo<br>
                            Nghiên cứu và xác định nhu cầu đào tạo của đội ngũ nhân viên<br>
                            Tham vấn cho Giám đốc các bộ phận về nhu cầu đào tạo ngắn hạn &amp; dài hạn của bộ phận<br>
                            Lên kế hoạch &amp; hoạch định ngân sách đào tạo của Công ty dựa trên nghiên...</p>
                        <div class="pt-5"></div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>3 ngày trước</span></div>
                        <div class="my-4"><span>Hồ Chí Minh</span></div>
                    </div>
                </div>
                <div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/19"><img
                            src="https://cdn.timviecnhanh.com/asset/home/img/employer/5aa22b44a2a7c_1520577348_274x274.jpg"
                            width="200" height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/19"><h2>Dược Sĩ
                        Tư Vấn - Quận 7</h2></a>
                        <p class="job-descript">- Tư vấn các loại thuốc đông dược, thực phẩm chức năng cho khách
                            hàng.<br>
                            - Cập nhật kiến thức về thuốc đảm bảo tư vấn thuốc đúng<br>
                            - Thực hiện các công việc theo hướng dẫn của GĐ.Marketing và chỉ đạo của Ban Giám đốc</p>
                        <div class="pt-5"><a href="#" class="btn btn-outline-dark">Medic</a>&nbsp;<a href="#"
                                                                                                     class="btn btn-outline-dark">English</a>&nbsp;
                        </div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>3 ngày trước</span></div>
                        <div class="my-4"><span>Hồ Chí Minh</span></div>
                    </div>
                </div>
                <div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/20"><img
                            src="https://cdn.timviecnhanh.com/asset/home/img/employer/5aa22b44a2a7c_1520577348_274x274.jpg"
                            width="200" height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/20"><h2>Quản Lý
                        Trình Dược Viên</h2></a>
                        <p class="job-descript">- Khu vực: Miền Trung (có thể đi công tác ở miền Trung)<br>
                            - Lập kế hoạch kinh doanh theo năm, quý, tháng, tuần và kế hoạch hàng tháng cho từng TDV
                            trong khu vực do mình phụ trách.<br>
                            - Triển khai và giám sát kế hoạch kinh doanh của từng TDV trong khu...</p>
                        <div class="pt-5"></div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>3 ngày trước</span></div>
                        <div class="my-4"><span>Hồ Chí Minh</span></div>
                    </div>
                </div>
                <div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/21"><img
                            src="http://www.bhe.dce.hcmut.edu.vn/bhaa/images/nha_tai_tro/bkhcm.png" width="200"
                            height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/21"><h2>[ĐHBK]
                        Giảng Viên Tiếng Anh Toàn Thời Gian</h2></a>
                        <p class="job-descript">Teaching following the English program’s curriculum (50% working hour)
                            and office-related tasks (50% working hour):<br>
                            - Operate, revise, and suggest improvements to the curriculum<br>
                            - Participate in student counseling &amp; academic services<br>
                            - Provide...</p>
                        <div class="pt-5"><a href="#" class="btn btn-outline-dark">English</a>&nbsp;<a href="#"
                                                                                                       class="btn btn-outline-dark">Communication</a>&nbsp;<a
                                href="#" class="btn btn-outline-dark">Teaching</a>&nbsp;
                        </div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>3 ngày trước</span></div>
                        <div class="my-4"><span>Hồ Chí Minh</span></div>
                    </div>
                </div>
                <div class="row justify-content-around stylish-panel">
                    <div class="col-md-2 text-center my-auto"><a
                            href="http://localhost:8080/company-management/recruitment/22"><img
                            src="http://www.bhe.dce.hcmut.edu.vn/bhaa/images/nha_tai_tro/bkhcm.png" width="200"
                            height="200"></a></div>
                    <div class="col-md-7"><a href="http://localhost:8080/company-management/recruitment/22"><h2>Giảng
                        Viên Tiếng Nhật - Toàn Thời Gian</h2></a>
                        <p class="job-descript">1. Lập và tổ chức triển khai kế hoạch giảng dạy của Chương trình Việt
                            Nhật<br>
                            2. Tham gia xây dựng chương trình giảng dạy Tiếng Nhật<br>
                            3. Trực tiếp giảng dạy (số tiết dạy trung bình mỗi tháng 48 tiết), soạn giáo án, soạn và
                            chấm bài kiểm tra và đánh...</p>
                        <div class="pt-5"><a href="#" class="btn btn-outline-dark">Japanese</a>&nbsp;<a href="#"
                                                                                                        class="btn btn-outline-dark">English</a>&nbsp;<a
                                href="#" class="btn btn-outline-dark">Communication</a>&nbsp;<a href="#"
                                                                                                class="btn btn-outline-dark">Teaching</a>&nbsp;
                        </div>
                    </div>
                    <div class="col-md-2 my-auto" style="text-align: right">
                        <div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">
                        New
                    </div>
                        <div class="my-4"><span>3 ngày trước</span></div>
                        <div class="my-4"><span>Hồ Chí Minh</span></div>
                    </div>
                </div>-->
            </div>

            <!-- Company Spotlight Div
            <div class="col-md-3">
                <div id="sidebar">
                    <div class="inside">

                        <div class="photos">
                            <div class="headline-photo">
                                <img alt="KMS Technology Headline Photo" src="https://cdn.itviec.com/photos/31336/tiny_headline_photo/kms-technology-tiny_headline_photo.png?FmkXhYxLh1HQbMPCdBfxSFiA"
                                    width="256" height="125">
                            </div>
                            <div class="logo">
                                <img src="https://cdn.itviec.com/employers/kms-technology/logo/s65/kms-technology-logo.png?gjCnVTfqe1uPf7ypqStLf9TV"
                                    width="68" height="68">
                            </div>
                            <div class="info">
                                <span class="name">
                                    KMS Technology
                                </span>
                                <span class="city">
                                    Ho Chi Minh
                                </span>
                                <p>Agile &amp; innovative global outsourcing</p>
                            </div>
                            <a class="mkt-track link" rel="nofollow" data-method="PUT" href="/companies/kms-technology?track_action=Click+Branding"></a>
                        </div>
                        <div class="border-around">
                            <div class="jobs">
                                <div class="job">
                                    <a href="/it-jobs/senior-automation-tester-qa-qc-kms-technology-3325">Senior
                                        Automation Tester (QA QC)</a>
                                </div>
                                <div class="job">
                                    <a href="/it-jobs/senior-python-developer-kms-technology-4915">Senior
                                        Python
                                        Developer</a>
                                </div>
                                <div class="job">
                                    <a href="/it-jobs/senior-front-end-developer-javascript-kms-technology-4641">Senior
                                        Front-End Developer (JavaScript)</a>
                                </div>
                            </div>
                            <div class="other-jobs">
                                <a href="/companies/kms-technology#our-jobs">View 5 jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>

</body>
</html>