<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!-- Header -->
<nav th:fragment="header"
     class="navbar navbar-expand-md navbar-dark bg-dark"
     style="height: 45px">
    <a class="navbar-brand"
       href="/trang-chu">
        <img src="https://res.cloudinary.com/ctsa-capstone/image/upload/v1541237101/demo-image/logoctsa.png"
             width="90"
             height="27"
             class="d-inline-block align-top"
             alt="CTSA logo">
    </a>
    <span class="title-header">Career Trend Suggestions</span>
    <div class="collapse navbar-collapse  justify-content-center  menu">
    </div>
    <!--<span id="currentUser"
          style="font-size: 25px; color: white">
        Sign In
    </span>-->
</nav>
</body>
</html>