<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="vn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Danh sách tuyển dụng</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Custom -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/job-list.css}">

    <!-- JavaScript -->
    <script th:src="@{js/services-routes.js}"></script>
</head>

<body onload="getListRecruitment()">
<div id="loader">
    <div class="spinner"></div>
</div>

<script>
    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 500);
    });
</script>

<!-- Header -->
<div th:replace="fragments/general.html :: header"></div>

<div class="container-fluid">
    <div id="content" class="tab-content col-md-12 folder">
        <h1 class="text-center pt-3 pb-2">TIN TUYỂN DỤNG</h1>
        <div class="row">
            <div class="col-md-12 list-jobs">

            </div>
        </div>
        <div class="row justify-content-center text-center">
            <!--Pagination -->
            <div class="row justify-content-center">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link page-selected" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script th:src="@{js/scroll-animate.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
    function truncateText(text, maxLength) {
        if (text.length > maxLength) {
            let nextSpace = text.indexOf(' ', maxLength);
            text = text.substr(0, nextSpace) + '...';
        }

        return text;
    }

    function countDays(startDate) {
        let start = new Date(startDate);
        let today = new Date();
        let result = today.getDate() - start.getDate();

        if (result === 0) {
            return 'Hôm nay';
        } else {
            return result + ' ngày trước';
        }
    }

    function getListRecruitment() {
        let url = API_GATEWAY + COMPANY_MANAGEMENT + '/recruitment';

        axios.get(url)
            .then(response => {
                let list = response.data;

                for (let i = 0; i < list.length; i++) {
                    let recruitment = '<div class="row justify-content-around stylish-panel">'
                        + '<div class="col-md-2 text-center my-auto">'
                        + '<a href="/"><img src="' + list[i].image + '" width="200" height="200"></a>'
                        + '</div>'
                        + '<div class="col-md-7">'
                        + '<a href="/"><h2 id="' + list[i].id + '">' + list[i].title + '</h2></a>'
                        + '<p class="job-description">' + truncateText(list[i].jobDescription, 250) + '</p>'
                        + '<div class="pt-5">';

                    for (let j = 0; j < list[i].skills.length; j++) {
                        recruitment += '<a href="#" class="btn btn-outline-dark">' + list[i].skills[j].skillName + '</a>&nbsp;';
                    }

                    recruitment += '</div>'
                        + '</div>'
                        + '<div class="col-md-2 my-auto" style="text-align: right">'
                        + '<div class="btn bg-orange text-white my-2">Hot</div>&nbsp;<div class="btn btn-primary my-2">New</div>'
                        + '<div class="my-4"><span>' + countDays(list[i].startDate) + '</span></div>'
                        + '<div class="my-4"><span>' + list[i].address + '</span></div>'
                        + '</div>'
                        + '</div>';

                    $('.list-jobs').append(recruitment);
                }
            });
    }
</script>
</body>
</html>