body {
  background-color: #ff7d1f !important;
  /* background-color: #fff691 !important; */
}

.left-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px;
  /* border-top-color: #e27e21; */
  border-top-color: #be1600;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #be1600;
  /* border-right-color: #e27e21; */
  margin-left: -79px;
  margin-top: 20px;
}

.right-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px;
  border-top-color: #be1600;
  border-bottom-color: transparent;
  border-left-color: #be1600;
  border-right-color: transparent;
  margin-left: 1520px;
}

.top-left {
  /* background: url("./images/background-ctsa.png"); */
  background-position-x: 80%;
  /* background: url("./images/violet-banner.jpg"); */
  background: url("../images/orange-background-banner.jpg") no-repeat;
  background-color: white;
  left: -80px;
  top: 20px;
  border-radius: 0px 90px 90px 0px;
  /* box-shadow: grey 0 5px 5px 1px; */
}

.top-right {
  /* background: url("./images/background-ctsa - inverse.png"); */
  background: url("../images/orange-background-banner-flip.jpg") no-repeat;
  /* background: url("./images/orange-background.jpg"); */
  background-position-x: 100%;
  background-color: white;
  left: 453px;
  /* top: 50px; */
  border-radius: 90px 0px 0px 90px;
  /* box-shadow: grey 0 5px 5px 1px; */
  text-align: right;
}

.tab {
  height: 50px;
  width: 150px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  top: 25px;
  background-color: #343a40;

  display: inline-block;
  z-index: 2;
  color: #eee;
}
.tab:before {
  height: 50px;
  width: 70px;
  border-radius: 10px 10px 0px 0px;
  background-color: #343a40;
  content: "";
  position: absolute;
  left: 104px;
  top: 0px;
  -webkit-transform: skewX(40deg);
  transform: skewX(40deg);
  z-index: -1;
}

#myTab > li > a {
  color: rgb(214, 213, 213);
  padding: 10px;
  font-size: 1.4em;
}

.tabactive {
  background-color: rgb(235, 231, 231) !important;
  box-shadow: black 0 5px 10px 0;
  /* color: rgb(226, 220, 220) ; */
}

.tabactive > a {
  color: #161616 !important;
  font-size: 1.4em;
  font-weight: bold;
}

.tabactive:before {
  height: 50px;
  width: 70px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(235, 231, 231);
  content: "";
  position: absolute;
  left: 104px;
  top: 0px;
  -webkit-transform: skewX(40deg);
  transform: skewX(40deg);
  z-index: -1;
}

.tab:nth-of-type(2) {
  left: 30px;
  z-index: 1;
}

.tab:nth-of-type(3) {
  left: 60px;
  z-index: 0;
}

#content {
  border-radius: 0px 20px 20px 20px;
  height: calc(100vh - 200px);
  top: 10px;
  /* min-height: 800px;  */
  height: 80%;
}

.top-icons-left {
  margin-right: 20px;
}

.top-icons-right {
  margin-left: 20px;
}

.top-icons-left > div > img,
.top-icons-right > div > img {
  height: 110px;
  width: 110px;
}

.container-fluid {
  width: 80vw !important;
}

.folder {
  /* background: url("../images/world-map.png") no-repeat; */
  /* background-size: 95% 95%; */
  background-color: rgb(235, 231, 231);
  /* background-attachment: fixed; */
  /* background-position: center;  */
  background-position-y: 20%;
  /* box-shadow: black 0 5px 10px 0; */
  z-index: 20;
}

.top-3 {
  box-shadow: gray 0 5px 8px 0;
}

.banner {
  background: url("../images/banner-alternative.png") no-repeat center;
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
  /* background-position-x: 48%; */
  width: 350px;
  height: 600px;
  padding-top: 1%;
}

.statistic1 {
  background: url("../images/statistic1.png") no-repeat center;
  background-size: 100% 100%;
}

.statistic2 {
  background: url("../images/statistic2.png") no-repeat center;
  background-size: 100% 100%;
}
.modal-content  {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-top-left-radius: 20px !important; 
  border-top-right-radius: 20px !important; 
}


/* .pagi-button{
  color: rgb(240, 240, 240);
  border: 1px solid #ff7d1f;
} */
.page-link{
  color: #ff7d1f;
  border: 1px solid #ff7d1f;
}
.pagi-button-selected{
  color: rgb(240, 240, 240);
  background-color: #ff7d1f;
}
.pagi-button-selected:hover{
  color: rgb(240, 240, 240) !important;
  background-color: #ff7d1f !important;
}
.page-link:hover{
  color: #ff7d1f;
  border: 1px solid #ff7d1f;
}